@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 400px;
    background-image: url("../images/pexels-goumbik-577210.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
}

header h1 {
    color: #031ca6;
    font-size: 48px;
    margin: 0;
    line-height: 400px;
}

img {
    max-width: 100%;
}
h2 {
    text-align: center;
}
div {
    background-color: #f2f2f2;
    clear: both;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: auto;
}
div p {
    padding: 15px;
    margin: 15px;
    text-align: justify;
}
div img {
    padding: 15px;
    margin: 12px;
}

div:nth-child(odd) {
    background-color: #8d9aa6;
}

footer {
    padding: 15px;
    clear: both;
    background-color: #8d9aa6;
}

footer p {
    text-align: center;
}
a {
    color: black;
    font-size: 15px;
}

a:hover,
a:focus,
a:active {
    color: #031ca6;
}

::selection {
    color: white;
    background: #040fd9;
}

@media screen and (min-width: 800px) {
    div img {
        float: right;
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
        max-width: 400px;
    }

    div:nth-child(odd) img {
        float: left;
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }
    h2 {
        text-align: left;
    }
}
