/* Write as little code as possible here, you can solve most requirements with the Bootstrap Grid to be linked*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css);

header {
    background-color: #33525f;
}

footer {
    background-color: #33525f;
    padding: 10px;
}
img {
    max-height: 400px;
    max-width: 400px;
    padding: 5px;
    display: block;
    margin: auto;
}
.custombtn {
    background-color: #d7c2a3;
    color: black;
    padding: 10px 10px;
    text-align: center;
    display: block;
    text-decoration: none;
}

header a:hover,
header a:active,
header a:focus {
    background-color: #b19368;
}

footer a:hover,
footer a:active,
footer a:focus {
    color: aqua;
}
